@charset "UTF-8";

/* conf tag universal */
*{
    margin: 0;
    padding: 0;
}
/* caixa principal */
.container{
    width: 100%; /* largura */
    height: 100vh; /* altura */
    background-image: linear-gradient(#09e5ec, #023838);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* caixa ao centro */
.card{
    width: 540px;
    background-color:#edeeed (9, 243, 24, .5);
    border-radius: 16px;
    /* alinhamento do itens */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* sombra do box */
    box-shadow: #036403(100, 100, 111, 0.2) 0px 7px 29px 0px ;
}

.profile-img{
    width: 120px;
    border-radius: 50%;
    border: #0fdb53 5px solid;

    /* sombra do box */
    box-shadow: #023838(0, 0, 0, 0.35) 0px 5px 15px;
    /* direnciona o img no eixo y */
    transform: translateY(-65px);
}